In [1]:
from pyspark.sql import SparkSession

In [1]:
%load_ext sparksql_magic

### Following code is used to initilize the Spark Session. Delta lake package is used while creating the spark session, which will help to save spark dataframe as Delta Table.

In [ ]:
# # Initialize SparkSession
# spark = SparkSession.builder \
#     .appName("add-delta-lake-with-unity-catalog") \
#     .master("spark://spark-master:7077") \
#     .config("spark.jars.packages", "io.delta:delta-spark_2.12:3.2.1")\
#     .config("spark.jars.packages", "io.unitycatalog:unitycatalog-spark_2.12:0.2.0")\
#     .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
#     .config("spark.sql.catalog.spark_catalog", "io.unitycatalog.spark.UCSingleCatalog")\
#     .config("spark.sql.catalog.unity", "io.unitycatalog.spark.UCSingleCatalog")\
#     .config("spark.sql.catalog.unity.uri","http://unity-catalog:8080")\
#     .config("spark.sql.catalog.unity.token", "")\
#     .config("spark.sql.defaultCatalog","unity")\
#     .getOrCreate()

In [9]:
# To stop SparkSession
# spark.stop()

In [2]:
# Example DataFrame creation
data = [("Jerin", 29), ("Aayush", 35), ("Neeraj", 28)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

In [3]:
df.show()

+------+---+
|  Name|Age|
+------+---+
| Jerin| 29|
|Aayush| 35|
|Neeraj| 28|
+------+---+

In [4]:
%%sparksql
SHOW SCHEMAS;

In [5]:
%%sparksql
SHOW TABLES in default

In [6]:
%%sparksql
USE default

In [7]:
%%sparksql

SELECT current_schema()

In [ ]:
%%sparksql

CREATE TABLE
unity.default.`test_unity_table` (id INT, desc STRING) 
USING delta 
LOCATION '/opt/spark/data/test_unity_table';

In [39]:
%%sparksql

SHOW TABLES IN default